services:
  # Servicio 1: Maestros y Costos
  maestros-service:
    # Construye la imagen usando el Dockerfile dentro de la carpeta ./maestros-service
    build: ./maestros-service
    # Este es el "hostname" que el API Gateway usará para encontrarlo
    container_name: maestros-service
    ports:
      # Expone el puerto 8081 del contenedor al puerto 8081 de tu máquina
      - "8081:8081"
    networks:
      - tpi-network

  # Servicio 2: Operaciones y Logística
  operaciones-service:
    build: ./operaciones-service
    container_name: operaciones-service
    ports:
      - "8082:8082"
    networks:
      - tpi-network

  # Servicio 3: API Gateway
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      # Expone el puerto 9000 (el único puerto público)
      - "9000:9000"
    networks:
      - tpi-network
    # El Gateway no debe iniciar hasta que los otros servicios estén listos
    depends_on:
      - maestros-service
      - operaciones-service

# Definimos una red interna para que los contenedores se comuniquen
networks:
  tpi-network:
    driver: bridge