# api-gateway/src/main/resources/application.yml
server:
  port: 9000

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: maestros_route
          uri: http://maestros-service:8081
          predicates:
            - Path=/maestro/**
          filters:
            - StripPrefix=1

        - id: operaciones_route
          uri: http://operaciones-service:8082
          predicates:
            - Path=/operaciones/**
          filters:
            - StripPrefix=1

  security:
    user:
      name: user
      password: password
