# Puerto en el que correrá el API Gateway
server:
    port: 9000

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            routes:
                # Ruta para el Microservicio de Maestros y Costos
                - id: maestros_route
                # La URI será el nombre del servicio en Docker (lo veremos después)
                # y el puerto que LE ASIGNAREMOS (8081)
                uri: http://maestros-service:8081
                predicates:
                    # Si la petición empieza con /maestro/, usa esta ruta
                    - Path=/maestro/**
                filters:
                    # Re-escribe la URL quitando /maestro
                    # Ejemplo: Petición a /maestro/clientes -> Petición a /clientes en maestros-service
                    - StripPrefix=1

                # Ruta para el Microservicio de Operaciones y Logística
                - id: operaciones_route
                # Apunta al servicio de operaciones en el puerto 8082
                uri: http://operaciones-service:8082
                predicates:
                    # Si la petición empieza con /operaciones/, usa esta ruta
                    - Path=/operaciones/**
                filters:
                    # Re-escribe la URL quitando /operaciones
                    # Ejemplo: Petición a /operaciones/solicitudes -> Petición a /solicitudes en operaciones-service
                    - StripPrefix=1