spring:
  application:
    name: maestros-service
  datasource:
    url: jdbc:postgresql://localhost:5432/maestros_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
server:
  port: 8081