server:
  port: 8081

spring:
  application:
    name: maestros-service

  datasource:
    # Base H2 persistente en un volumen montado en /data
    url: jdbc:h2:file:/data/maestrosdb;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: 


  jpa:
    hibernate:
      ddl-auto: update     # en dev estable; evitá create-drop si querés conservar datos
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2

  sql:
    init:
      mode: always

  jackson:
    time-zone: America/Argentina/Buenos_Aires

springdoc:
  swagger-ui:
    path: /swagger-ui.html
